// Masthead
//
// Super small header above the content for site name and short description.

.masthead {
  padding-top: var(--spacer-2);
  padding-bottom: var(--spacer-2);
  margin-bottom: var(--spacer-3);
  text-align: center;
  color: var(--black);
  background-color: var(--safety);
}

.masthead-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 3rem;

  a {
    color: inherit;
    text-decoration: none;
  }

  small {
    font-weight: 400;
    opacity: .5;
  }
}

.masthead-logo {
  width: 10rem;
  margin: auto;
  padding-bottom: var(--spacer);

  @media (min-width: 40rem) {
    float: left;
    margin-left: var(--spacer-2);
  }
}

.masthead-tagline {
  font-size: inherit;
  font-weight: normal;
}

.masthead-navbar {
  font-weight: bold;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline;
  }

  a {
    color: inherit;
    text-decoration: none;
    display: inline-block;
    padding: 0.5rem;
  }

  a:hover {
    background-color: var(--safety-2);
  }
}
